@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido señor administrador</h1>
    <a asp-action="ConfirmacionMasiva" 
       asp-controller="Partidos">Confirmacion Masiva de Jugadores para la fecha</a>
</div>
