@model Futbol.ViewModel.VMConfirmacionList

<form asp-action="ConfirmacionMasiva">

    <table class="table table-primary table-striped">
        @for (int i = 0; i < Model.VMConfirmacionLista.Count(); i++)
        {
            <tr>
                <td class="col-md-2">
                    <input asp-for="@Model.VMConfirmacionLista[i].IdClave" type="text" />
                    <input asp-for="@Model.VMConfirmacionLista[i].IdClave" type="hidden" />
                </td>
                <td class="col-md-2">
                    <input asp-for="@Model.VMConfirmacionLista[i].Jugador.Nombre" type="text" />
                </td>
                <td class="col-md-1">
                    <input type="checkbox" asp-for="@Model.VMConfirmacionLista[i].Confirmado" />
                </td>
            </tr>
        }
    </table>

    <div class="form-group">
        <input type="submit" value="GRABAR" class="btn btn-primary" />
    </div>
</form>